* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Montserrat';
}

ul {
  list-style: none;
}

.leftImg img
{
  width: 400px;
  position: absolute;
  top: 25%;
  left: 7%;
}

.rightImg img
{
  width: 400px;
  position: absolute;
  top: 25%;
  right: 7%;
}

.wrapper
{
  background: url('../img/bg2.jpg');
  /*height: 100vh;*/
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.logo {
  font-size: 40px;
}

.menu-links ul li {
  display: inline-block;
  padding-right: 20px;
}

.search,
.cart {
  font-size: 20px;
}

.home-banner
{
  height:88vh;
}

.content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  color: #fff;
}

.title {
  flex: 0 0 100%;
  font-size: 16vw;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(90deg, #870203, #d12018, #ededed, #ffffff, #ededed, #d12018, #870203);
  animation: anuj 10s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
  background-size: 400%;
}

@keyframes anuj{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

.tagline {
  flex: 1;
  font-size: 20px;
  color: #fff;
}

.pages {
  flex: 0;
  letter-spacing: 5px;
  color: #999;
}

.pages span {
  font-size: 60px;
  color: #000;
  font-weight: 600;
}

.more {
  flex: 0 0 70%;
}

.more a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: #000;
  padding: 10px 30px;
  border-radius: 10px;
}

.desc {
  flex: 0 0 30%;
}

.desc p:nth-child(1) {
  font-size: 25px;
  margin-bottom: 12px;
}

.desc p:nth-child(2) {
  line-height: 20px;
}

.desc span {
  color: #AECD31;
}

.superhero {
  position: absolute;
  top: 54%;
  left: 50%;
  z-index: 2;
}

.superhero img {
  animation: float 4s ease-in-out infinite;
  max-height: 75vh;;
}

@keyframes float {
  0% {
    transform: translate(-50%, -46%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -46%);
  }
}

.leaves {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
}

.leaves ul
{
  display: none;
}

.leaves img {
  max-width: 100%;
  max-height: 100%;
}

.leaves .layer:nth-child(1) {
  top: -100px !important;
  left: -480px !important;
}

.leaves .layer:nth-child(2) {
  top: 10px !important;
  left: 160px !important;
}

.leaves .layer:nth-child(3) {
  top: -300px !important;
  left: 160px !important;
}

.leaves .layer:nth-child(4) {
  top: -10px !important;
  left: 320px !important;
}

.leaves .layer:nth-child(5) {
  top: 200px !important;
  left: -320px !important;
}

.arrows .prev {
  position: absolute;
  top: 50%;
  left: 100px;
}

.arrows .next {
  position: absolute;
  top: 50%;
  right: 100px;
}

.arrows button {
  border: 1px solid #999;
  background: transparent;
  padding: 20px;
  border-radius: 50%;
  outline: none;
}

.arrows button:hover {
  color: #fff;
  background: #000;
}

.home-slick-slider
{
  background: linear-gradient(to bottom, #1f0100, #1f0100);
  padding:100px 0px;
}

.slick-slide img {
  width: 215px;
}

.poster-slide
{
  background: url('../img/hollywood/poster-bg-6.jpg');
  background-size: inherit;
  background-repeat: no-repeat !important;
  background-position: left;
}

.poster-slide .demo
{
  background-color: rgba(255,255,255,0.8);  
}

.footer
{
  background: #1f0100;
  padding: 10px 0px 0px 0px;
  color:#fff;
  font-size: 12px;
}

/*-------------------*/

/*
.curved 
{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.curved::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1f0100, #1f0100);
    z-index: -1;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.5);
}
*/

.main-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  background: #eee;
  padding: 1em;
}

.main-header__nav {
  border-top: solid 1px #ccc;
  margin: 1em -1em;
}

.main-header__nav a {
  display: block;
  padding: 0.5em 1em;
  border-bottom: solid 1px #ddd;
}

.main-header__nav a:hover,
.main-header__nav a:focus {
  color: #eee;
  background: #da0d25;
}

@media (max-width: 800px) {
  body { padding: 0; }

  .main-header {
    position: relative;
    width: 100%;
  }

  .main-header__nav a { display: inline-block; border: none; }
}

.intro {
  padding: 4em 2em;
}

.demo {
  padding: 6em 2em;
}

.demo h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 1em;
}

.demo .flipster {
  margin: 0 -2em;
}

.code {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
  margin: 2em auto;
  max-width: 30em;
  font-size: 0.8em;
  width: fit-content;
  white-space: pre-wrap;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  background-color: #da0d25;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  transition: all 300ms ease;
}

.button:hover,
.button:focus {
  color: #7a0715;
  background: #f22840;
}

.flipster__item img {
    width: 280px;
}

.industry {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 85vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}